<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashrafksalim.flutter_auto_echo_cancellation_websocket">
    
    <!-- Required permissions for audio recording and playback -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Optional: Bluetooth support for headsets -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    
</manifest>
